.pet-grid {
  margin-left: 160px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.photo {
  height: 200px;
  width: 200px;
}

.header{
  height: 70px;
  text-align: center;
}

.sidebar{
  margin-top: 70px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}